Repository eclipse-tractusx/digital-product-pass, pull requests merged in 2023-07, with the labels that each got.

#47 [ 1º ] - Release/v1.0.0-edc-v0.4.1: Updated EDC deployments to v0.4.1
  CHANGELOG.md
  charts/digital-product-pass/Chart.yaml
  deployment/helm/edc-consumer/.helmignore
  deployment/helm/edc-consumer/Chart.yaml
  deployment/helm/edc-consumer/backend-service/.helmignore
  deployment/helm/edc-consumer/backend-service/Chart.yaml
  deployment/helm/edc-consumer/backend-service/templates/NOTES.txt
  deployment/helm/edc-consumer/backend-service/templates/_helpers.tpl
  deployment/helm/edc-consumer/backend-service/templates/deployment.yaml
  deployment/helm/edc-consumer/backend-service/templates/hpa.yaml
  deployment/helm/edc-consumer/backend-service/templates/ingress.yaml
  deployment/helm/edc-consumer/backend-service/templates/pvc.yaml
  deployment/helm/edc-consumer/backend-service/templates/service.yaml
  deployment/helm/edc-consumer/backend-service/templates/serviceaccount.yaml
  deployment/helm/edc-consumer/backend-service/values-beta.yaml
  deployment/helm/edc-consumer/backend-service/values-dev.yaml
  deployment/helm/edc-consumer/backend-service/values-int.yaml
  deployment/helm/edc-consumer/backend-service/values.yaml
  deployment/helm/edc-consumer/templates/_helpers.tpl
  deployment/helm/edc-consumer/templates/secret.yaml
  deployment/helm/edc-consumer/values-beta.yaml
  deployment/helm/edc-consumer/values-dev.yaml
  deployment/helm/edc-consumer/values-int.yaml
  deployment/helm/edc-consumer/values.yaml
  deployment/helm/edc-provider/Chart.lock
  deployment/helm/edc-provider/Chart.yaml
  deployment/helm/edc-provider/templates/_helpers.tpl
  deployment/helm/edc-provider/templates/secret.yaml
  deployment/helm/edc-provider/values-beta.yaml
  deployment/helm/edc-provider/values-dev.yaml
  deployment/helm/edc-provider/values-int.yaml
  deployment/helm/edc-provider/values.yaml
  docs/RELEASE_USER.md
Labels: enhancement, edc-connector

#48 [ 2º ] - Release/v1.0.0-data-plane-connect: Removed CX-Backend-Service
  CHANGELOG.md
  charts/digital-product-pass/Chart.yaml
  charts/digital-product-pass/values-beta.yaml
  charts/digital-product-pass/values-dev.yaml
  charts/digital-product-pass/values-int.yaml
  charts/digital-product-pass/values.yaml
  consumer-backend/productpass/pom.xml
  consumer-backend/productpass/readme.md
  consumer-backend/productpass/src/main/java/org/eclipse/tractusx/productpass/http/controllers/AppController.java
  consumer-backend/productpass/src/main/java/org/eclipse/tractusx/productpass/models/edc/DataPlaneEndpoint.java
  consumer-backend/productpass/src/main/java/org/eclipse/tractusx/productpass/models/edc/Jwt.java
  consumer-backend/productpass/src/main/java/org/eclipse/tractusx/productpass/services/DataPlaneService.java
  consumer-backend/productpass/src/main/java/utils/CrypUtil.java
  consumer-backend/productpass/src/main/java/utils/EdcUtil.java
  consumer-backend/productpass/src/main/java/utils/FileUtil.java
  consumer-backend/productpass/src/main/java/utils/HttpUtil.java
  consumer-backend/productpass/src/main/java/utils/JsonUtil.java
  consumer-backend/productpass/src/main/java/utils/PassportUtil.java
  consumer-backend/productpass/src/main/resources/application.yml
  consumer-backend/productpass/src/test/java/utils/CrypUtilTest.java
  deployment/helm/edc-consumer/values-beta.yaml
  deployment/helm/edc-consumer/values-int.yaml
  deployment/helm/edc-provider/data-service/Chart.lock
  deployment/helm/edc-provider/values-beta.yaml
  deployment/helm/edc-provider/values-int.yaml
  docs/RELEASE_USER.md
Labels: enhancement, edc-connector, backend

#55 [ 3º ] - Release/v1.0.0-tractusx-metafile: Added metafile
  .tractusx
  CHANGELOG.md
  docs/RELEASE_USER.md
Labels: documentation

#57 [ 5º ] - Release/v1.0.0-backend-models: Updated Backend Models
  consumer-backend/productpass/src/main/java/org/eclipse/tractusx/productpass/models/http/requests/Search.java
  consumer-backend/productpass/src/main/java/org/eclipse/tractusx/productpass/models/http/requests/TokenRequest.java
  consumer-backend/productpass/src/main/java/org/eclipse/tractusx/productpass/models/http/responses/IdResponse.java
  consumer-backend/productpass/src/main/java/org/eclipse/tractusx/productpass/models/manager/DataModel.java
  consumer-backend/productpass/src/main/java/org/eclipse/tractusx/productpass/models/manager/History.java
  consumer-backend/productpass/src/main/java/org/eclipse/tractusx/productpass/models/manager/Manager.java
  consumer-backend/productpass/src/main/java/org/eclipse/tractusx/productpass/models/manager/Process.java
  consumer-backend/productpass/src/main/java/org/eclipse/tractusx/productpass/models/manager/Status.java
  consumer-backend/productpass/src/main/java/org/eclipse/tractusx/productpass/models/negotiation/Catalog.java
  consumer-backend/productpass/src/main/java/org/eclipse/tractusx/productpass/models/negotiation/CatalogRequest.java
  consumer-backend/productpass/src/main/java/org/eclipse/tractusx/productpass/models/negotiation/Constraint.java
  consumer-backend/productpass/src/main/java/org/eclipse/tractusx/productpass/models/negotiation/ContractOffer.java
  consumer-backend/productpass/src/main/java/org/eclipse/tractusx/productpass/models/negotiation/DataService.java
  consumer-backend/productpass/src/main/java/org/eclipse/tractusx/productpass/models/negotiation/Dataset.java
  consumer-backend/productpass/src/main/java/org/eclipse/tractusx/productpass/models/negotiation/DidDocument.java
  consumer-backend/productpass/src/main/java/org/eclipse/tractusx/productpass/models/negotiation/Distribution.java
  consumer-backend/productpass/src/main/java/org/eclipse/tractusx/productpass/models/negotiation/EdcResponse.java
  consumer-backend/productpass/src/main/java/org/eclipse/tractusx/productpass/models/negotiation/Negotiation.java
  consumer-backend/productpass/src/main/java/org/eclipse/tractusx/productpass/models/negotiation/NegotiationRequest.java
  consumer-backend/productpass/src/main/java/org/eclipse/tractusx/productpass/models/negotiation/Policy.java
  consumer-backend/productpass/src/main/java/org/eclipse/tractusx/productpass/models/negotiation/Set.java
  consumer-backend/productpass/src/main/java/org/eclipse/tractusx/productpass/models/negotiation/Transfer.java
  consumer-backend/productpass/src/main/java/org/eclipse/tractusx/productpass/models/negotiation/TransferRequest.java
Labels: enhancement, backend

#58 [ 6º ] - Release/v1.0.0-backend-core: Updated backend core functionalities
  consumer-backend/productpass/pom.xml
  consumer-backend/productpass/readme.md
  consumer-backend/productpass/src/main/java/org/eclipse/tractusx/productpass/Application.java
  consumer-backend/productpass/src/main/java/org/eclipse/tractusx/productpass/config/ProcessConfig.java
  consumer-backend/productpass/src/main/java/org/eclipse/tractusx/productpass/exceptions/DataModelException.java
  consumer-backend/productpass/src/main/java/org/eclipse/tractusx/productpass/exceptions/ManagerException.java
  consumer-backend/productpass/src/main/java/org/eclipse/tractusx/productpass/http/controllers/AppController.java
  consumer-backend/productpass/src/main/java/org/eclipse/tractusx/productpass/http/controllers/api/ApiController.java
  consumer-backend/productpass/src/main/java/org/eclipse/tractusx/productpass/http/controllers/api/ContractController.java
  consumer-backend/productpass/src/main/java/org/eclipse/tractusx/productpass/http/controllers/api/DataController.java
  consumer-backend/productpass/src/main/java/org/eclipse/tractusx/productpass/listeners/AppListener.java
  consumer-backend/productpass/src/main/java/org/eclipse/tractusx/productpass/managers/ProcessDataModel.java
  consumer-backend/productpass/src/main/java/org/eclipse/tractusx/productpass/managers/ProcessManager.java
  consumer-backend/productpass/src/main/java/org/eclipse/tractusx/productpass/services/AasService.java
  consumer-backend/productpass/src/main/java/org/eclipse/tractusx/productpass/services/DataTransferService.java
  consumer-backend/productpass/src/main/java/utils/CatenaXUtil.java
  consumer-backend/productpass/src/main/java/utils/CrypUtil.java
  consumer-backend/productpass/src/main/java/utils/DateTimeUtil.java
  consumer-backend/productpass/src/main/java/utils/FileUtil.java
  consumer-backend/productpass/src/main/java/utils/HttpUtil.java
  consumer-backend/productpass/src/main/java/utils/JsonUtil.java
  consumer-backend/productpass/src/main/java/utils/LogUtil.java
  consumer-backend/productpass/src/main/java/utils/PassportUtil.java
  consumer-backend/productpass/src/main/resources/application.yml
  consumer-backend/productpass/src/main/resources/logback-spring.xml
Labels: enhancement, backend

#59 [ 7º ] - Release/v1.0.0-infra-configuration: Added infrastructure details and documentation
  .github/workflows/veracode-pipeline.yml
  .nginx/nginx.conf
  CHANGELOG.md
  Dockerfile
  charts/digital-product-pass/Chart.yaml
  charts/digital-product-pass/templates/deployment-backend.yaml
  charts/digital-product-pass/templates/secret-backend.yaml
  charts/digital-product-pass/values-beta.yaml
  charts/digital-product-pass/values-dev.yaml
  charts/digital-product-pass/values-int.yaml
  charts/digital-product-pass/values.yaml
  consumer-backend/productpass/pom.xml
  consumer-backend/productpass/readme.md
  consumer-backend/productpass/src/main/java/org/eclipse/tractusx/productpass/http/controllers/api/ApiController.java
  consumer-backend/productpass/src/main/java/org/eclipse/tractusx/productpass/http/controllers/api/ContractController.java
  consumer-backend/productpass/src/main/java/org/eclipse/tractusx/productpass/models/negotiation/CatalogRequest.java
  consumer-backend/productpass/src/main/java/org/eclipse/tractusx/productpass/services/DataTransferService.java
  docs/RELEASE_USER.md
  package-lock.json
  package.json
Labels: enhancement, backend

#69 [ 8º ] - Release/v1.0.0-frontend-integration: Added new frontend-backend integration.
  .nginx/nginx.conf
  charts/digital-product-pass/values.yaml
  src/components/passport/sections/ContractInformation.vue
  src/services/BackendService.js
  src/services/service.const.js
  src/utils/threadUtil.js
  src/views/PassportView.vue
Labels: enhancement, frontend

#71 [ 9 ° ] - Release/v1.0.0 alpha dockerhub: add docker images to DockerHub
  .github/workflows/publish-consumer-backend-docker-images.yml
  .github/workflows/publish-consumer-ui-docker-images.yml
  .github/workflows/publish-dpp-backend-docker-image.yml
  .github/workflows/publish-dpp-frontend-docker-image.yml
  charts/digital-product-pass/values.yaml
Labels: frontend, backend

#72 [ 10º ] - Release/v1.0.0-alpha: Added important Legal Notice
  .github/workflows/publish-dpp-backend-docker-image.yml
  .github/workflows/publish-dpp-frontend-docker-image.yml
  Dockerfile
  entrypoint.sh
  src/components/general/Footer.vue
  src/services/service.const.js
Labels: frontend

#73 [ 11º ] - Release/v1.0.0-alpha-contract-info: Added contract info to passport
  src/assets/MOCK/IMR18650V1.json
  src/assets/MOCK/NCR186850B.json
  src/assets/MOCK/X123456789012X12345678901234566.json
  src/assets/MOCK/passportExample-allNULL.json
  src/assets/styles/components/general/dialog.scss
  src/assets/styles/components/passport/documentField.scss
  src/assets/styles/components/passport/field.scss
  src/assets/styles/components/passport/sections.scss
  src/components/general/Dialog.vue
  src/components/general/FieldBox.vue
  src/components/general/RecursiveComponent.vue
  src/components/passport/Field.vue
  src/components/passport/sections/ContractInformation.vue
  src/components/passport/sections/GeneralInformation.vue
Labels: frontend

#74 [ 12º ] - Release/v1.0.0 alpha jar files: Added legal files into JAR
  CHANGELOG.md
  DEPENDENCIES_FRONTEND
  charts/digital-product-pass/Chart.yaml
  consumer-backend/productpass/pom.xml
  consumer-backend/productpass/readme.md
  docs/RELEASE_USER.md
  package-lock.json
  package.json
Labels: backend

#75 Hotfix/v1.0.0-alpha: fixed infinite loop related to get status bug
  CHANGELOG.md
  src/components/general/Footer.vue
  src/services/BackendService.js
Labels: backend

#77 Hotfix/v1.0.0-alpha: fixed infinite loop related to get status bug
  src/services/BackendService.js
Labels: backend

#83 [ 1° ] - Release/v1.0.0-docker-helm: Added contents for notice for docker images and helm resource utilization
  README.md
  charts/digital-product-pass/values.yaml
Labels: helm-charts, docker

#96 [ 7° ] - Release/v1.0.0 kubernetes versions support: Support helm charts on different kubernetes versions
  .github/workflows/helm-test.yaml
  .github/workflows/helm-upgrade.yaml
  charts/digital-product-pass/values-beta.yaml
  charts/digital-product-pass/values-dev.yaml
  charts/digital-product-pass/values-int.yaml
Labels: helm-charts
