Repository eclipse-tractusx/digital-product-pass, pull requests merged in 2023-11, with the labels that each got.

#140 [1°] - Release/v1.3.0-irs-backend-integration: Support the IRS in the backend component
  CHANGELOG.md
  DEPENDENCIES_FRONTEND
  charts/digital-product-pass/values-beta.yaml
  charts/digital-product-pass/values-dev.yaml
  charts/digital-product-pass/values-int.yaml
  charts/digital-product-pass/values.yaml
  consumer-backend/productpass/pom.xml
  consumer-backend/productpass/src/main/java/org/eclipse/tractusx/productpass/config/IrsConfig.java
  consumer-backend/productpass/src/main/java/org/eclipse/tractusx/productpass/http/controllers/AppController.java
  consumer-backend/productpass/src/main/java/org/eclipse/tractusx/productpass/http/controllers/api/ContractController.java
  consumer-backend/productpass/src/main/java/org/eclipse/tractusx/productpass/http/controllers/api/IrsController.java
  consumer-backend/productpass/src/main/java/org/eclipse/tractusx/productpass/managers/ProcessManager.java
  consumer-backend/productpass/src/main/java/org/eclipse/tractusx/productpass/managers/TreeManager.java
  consumer-backend/productpass/src/main/java/org/eclipse/tractusx/productpass/models/dtregistry/DigitalTwin.java
  consumer-backend/productpass/src/main/java/org/eclipse/tractusx/productpass/models/dtregistry/EndPoint.java
  consumer-backend/productpass/src/main/java/org/eclipse/tractusx/productpass/models/http/requests/Search.java
  consumer-backend/productpass/src/main/java/org/eclipse/tractusx/productpass/models/irs/Job.java
  consumer-backend/productpass/src/main/java/org/eclipse/tractusx/productpass/models/irs/JobHistory.java
  consumer-backend/productpass/src/main/java/org/eclipse/tractusx/productpass/models/irs/JobRequest.java
  consumer-backend/productpass/src/main/java/org/eclipse/tractusx/productpass/models/irs/JobResponse.java
  consumer-backend/productpass/src/main/java/org/eclipse/tractusx/productpass/models/irs/Relationship.java
  consumer-backend/productpass/src/main/java/org/eclipse/tractusx/productpass/models/manager/Node.java
  consumer-backend/productpass/src/main/java/org/eclipse/tractusx/productpass/models/manager/NodeComponent.java
  consumer-backend/productpass/src/main/java/org/eclipse/tractusx/productpass/models/manager/Status.java
  consumer-backend/productpass/src/main/java/org/eclipse/tractusx/productpass/services/AasService.java
  consumer-backend/productpass/src/main/java/org/eclipse/tractusx/productpass/services/DataTransferService.java
  consumer-backend/productpass/src/main/java/org/eclipse/tractusx/productpass/services/IrsService.java
  consumer-backend/productpass/src/main/java/utils/CatenaXUtil.java
  consumer-backend/productpass/src/main/java/utils/HttpUtil.java
  consumer-backend/productpass/src/main/java/utils/JsonUtil.java
  consumer-backend/productpass/src/main/java/utils/StringUtil.java
  consumer-backend/productpass/src/main/resources/application.yml
  deployment/helm/registry/values.yaml
  docs/RELEASE_USER.md
Labels: backend, irs

#141 [2º] - Release/v1.3.0 delete cache: Implemented Mechanism to Delete Cache
  CHANGELOG.md
  consumer-backend/productpass/src/main/java/org/eclipse/tractusx/productpass/config/DtrConfig.java
  consumer-backend/productpass/src/main/java/org/eclipse/tractusx/productpass/config/PassportConfig.java
  consumer-backend/productpass/src/main/java/org/eclipse/tractusx/productpass/http/controllers/AppController.java
  consumer-backend/productpass/src/main/java/org/eclipse/tractusx/productpass/http/controllers/api/ApiController.java
  consumer-backend/productpass/src/main/java/org/eclipse/tractusx/productpass/http/controllers/api/ContractController.java
  consumer-backend/productpass/src/main/java/org/eclipse/tractusx/productpass/http/controllers/api/IrsController.java
  consumer-backend/productpass/src/main/java/org/eclipse/tractusx/productpass/managers/DtrSearchManager.java
  consumer-backend/productpass/src/main/java/org/eclipse/tractusx/productpass/managers/ProcessManager.java
  consumer-backend/productpass/src/main/java/org/eclipse/tractusx/productpass/managers/TreeManager.java
  consumer-backend/productpass/src/main/java/org/eclipse/tractusx/productpass/models/catenax/Dtr.java
  consumer-backend/productpass/src/main/java/org/eclipse/tractusx/productpass/models/dtregistry/DigitalTwin.java
  consumer-backend/productpass/src/main/java/org/eclipse/tractusx/productpass/models/irs/JobHistory.java
  consumer-backend/productpass/src/main/java/org/eclipse/tractusx/productpass/models/manager/Node.java
  consumer-backend/productpass/src/main/java/org/eclipse/tractusx/productpass/models/manager/Status.java
  consumer-backend/productpass/src/main/java/org/eclipse/tractusx/productpass/services/AasService.java
  consumer-backend/productpass/src/main/java/org/eclipse/tractusx/productpass/services/CatenaXService.java
  consumer-backend/productpass/src/main/java/org/eclipse/tractusx/productpass/services/DataTransferService.java
  consumer-backend/productpass/src/main/java/org/eclipse/tractusx/productpass/services/IrsService.java
  consumer-backend/productpass/src/main/java/utils/CatenaXUtil.java
  consumer-backend/productpass/src/main/java/utils/DateTimeUtil.java
  consumer-backend/productpass/src/main/java/utils/FileUtil.java
  consumer-backend/productpass/src/main/java/utils/JsonUtil.java
  consumer-backend/productpass/src/main/resources/application.yml
  src/services/BackendService.js
Labels: backend, irs

#144 [5°] - Release/v1.3.0 edc postgres configuration: Resolve EDC postgres database credentials (user and password)
  .github/workflows/publish-dpp-backend-docker-image.yml
  CHANGELOG.md
  deployment/helm/edc-consumer/README.md
  deployment/helm/edc-consumer/values-beta.yaml
  deployment/helm/edc-provider/README.md
  deployment/helm/edc-provider/values-beta.yaml
  deployment/helm/edc-provider/values-int.yaml
  deployment/helm/edc-provider/values.yaml
Labels: edc-connector, helm-charts, workflows

#146 [7°] - Release/v1.3.0 smc testdata: prepare secondary material content (smc) use case testdata
  CHANGELOG.md
  README.md
  charts/digital-product-pass/Chart.yaml
  charts/digital-product-pass/README.md
  charts/digital-product-pass/templates/secret-backend.yaml
  charts/digital-product-pass/values.yaml
  deployment/infrastructure/init-provider-dtr-irs.sh
  deployment/infrastructure/resources/smc/smc_asset.json
  deployment/infrastructure/resources/smc/smc_contract-definition.json
  deployment/infrastructure/resources/smc/smc_digital-twin.json
  deployment/infrastructure/resources/smc/smc_manual_payload.json
  deployment/infrastructure/resources/smc/smc_payload_partAsPlanned.json
  deployment/infrastructure/resources/smc/smc_policiy.json
  deployment/infrastructure/upload-smc-data.sh
  docs/RELEASE_USER.md
  package-lock.json
  package.json
Labels: documentation
