Repository eclipse-tractusx/digital-product-pass, pull requests merged in 2024-02, with the labels that each got.

#191 [ 8° ] - Release/v2.1.0 dpp helm template: Refactor dpp helm template
  CHANGELOG.md
  charts/digital-product-pass/Chart.yaml
  charts/digital-product-pass/README.md
  charts/digital-product-pass/templates/deployment-backend.yaml
  charts/digital-product-pass/templates/deployment-frontend.yaml
  charts/digital-product-pass/values.yaml
  deployment/infrastructure/edc-provider/data-service/templates/deployment.yaml
  deployment/infrastructure/edc-provider/data-service/values.yaml
  docs/RELEASE_USER.md
  dpp-backend/charts/digital-product-pass-backend/Chart.yaml
  dpp-backend/charts/digital-product-pass-backend/README.md
  dpp-backend/digitalproductpass/pom.xml
  dpp-backend/digitalproductpass/readme.md
  package-lock.json
  package.json
Labels: helm-charts

#194 [ 11° ] - Release/v2.1.0/kics: update kics
  .github/workflows/kics.yml
Labels: workflows

#196 [ 13° ] - Release/v2.1.0/fix irs: add serial part aspect
  deployment/local/testing/testdata/testdata-payload.json
Labels: irs

#198 [ 14º ] - Release/v2.1.0 business statement: Updated business statement
  docs/business statement/Business Statement.md
  docs/business statement/GraphArchitectureFunctionalCut.png
  docs/business statement/GraphArchitectureFunctionalCut.svg
  docs/business statement/GraphBusinessProblem.png
  docs/business statement/GraphBusinessProblem.svg
Labels: documentation

#202 [ 17° ] - Release/v2.1.0/trg 4 02 & trg 4.03: updated container base images and adjusted user ids
  Dockerfile
  charts/digital-product-pass/values.yaml
  dpp-backend/charts/digital-product-pass-backend/values.yaml
  dpp-backend/digitalproductpass/Dockerfile
Labels: helm-charts, docker

#205 [ 19º ] - Release/v2.1.0 backend agree: Enabled policy selection and handling of more than one contract in the backend
  .pre-commit-config.yaml
  DEPENDENCIES_BACKEND
  DEPENDENCIES_FRONTEND
  charts/digital-product-pass/templates/deployment-frontend.yaml
  charts/digital-product-pass/values.yaml
  dpp-backend/charts/digital-product-pass-backend/values.yaml
  dpp-backend/digitalproductpass/pom.xml
  dpp-backend/digitalproductpass/src/main/java/org/eclipse/tractusx/digitalproductpass/http/controllers/AppController.java
  dpp-backend/digitalproductpass/src/main/java/org/eclipse/tractusx/digitalproductpass/http/controllers/api/ApiController.java
  dpp-backend/digitalproductpass/src/main/java/org/eclipse/tractusx/digitalproductpass/http/controllers/api/ContractController.java
  dpp-backend/digitalproductpass/src/main/java/org/eclipse/tractusx/digitalproductpass/managers/DtrSearchManager.java
  dpp-backend/digitalproductpass/src/main/java/org/eclipse/tractusx/digitalproductpass/managers/ProcessManager.java
  dpp-backend/digitalproductpass/src/main/java/org/eclipse/tractusx/digitalproductpass/models/catenax/BpnDiscovery.java
  dpp-backend/digitalproductpass/src/main/java/org/eclipse/tractusx/digitalproductpass/models/catenax/Discovery.java
  dpp-backend/digitalproductpass/src/main/java/org/eclipse/tractusx/digitalproductpass/models/catenax/Dtr.java
  dpp-backend/digitalproductpass/src/main/java/org/eclipse/tractusx/digitalproductpass/models/catenax/EdcDiscoveryEndpoint.java
  dpp-backend/digitalproductpass/src/main/java/org/eclipse/tractusx/digitalproductpass/models/edc/AssetSearch.java
  dpp-backend/digitalproductpass/src/main/java/org/eclipse/tractusx/digitalproductpass/models/http/requests/Search.java
  dpp-backend/digitalproductpass/src/main/java/org/eclipse/tractusx/digitalproductpass/models/http/requests/TokenRequest.java
  dpp-backend/digitalproductpass/src/main/java/org/eclipse/tractusx/digitalproductpass/models/manager/Status.java
  dpp-backend/digitalproductpass/src/main/java/org/eclipse/tractusx/digitalproductpass/models/negotiation/Catalog.java
  dpp-backend/digitalproductpass/src/main/java/org/eclipse/tractusx/digitalproductpass/models/negotiation/CatalogRequest.java
  dpp-backend/digitalproductpass/src/main/java/org/eclipse/tractusx/digitalproductpass/models/negotiation/Constraint.java
  dpp-backend/digitalproductpass/src/main/java/org/eclipse/tractusx/digitalproductpass/models/negotiation/DataService.java
  dpp-backend/digitalproductpass/src/main/java/org/eclipse/tractusx/digitalproductpass/models/negotiation/DidDocument.java
  dpp-backend/digitalproductpass/src/main/java/org/eclipse/tractusx/digitalproductpass/models/negotiation/Distribution.java
  dpp-backend/digitalproductpass/src/main/java/org/eclipse/tractusx/digitalproductpass/models/negotiation/EdcResponse.java
  dpp-backend/digitalproductpass/src/main/java/org/eclipse/tractusx/digitalproductpass/models/negotiation/Negotiation.java
  dpp-backend/digitalproductpass/src/main/java/org/eclipse/tractusx/digitalproductpass/models/negotiation/NegotiationRequest.java
  dpp-backend/digitalproductpass/src/main/java/org/eclipse/tractusx/digitalproductpass/models/negotiation/Offer.java
  dpp-backend/digitalproductpass/src/main/java/org/eclipse/tractusx/digitalproductpass/models/negotiation/Properties.java
  dpp-backend/digitalproductpass/src/main/java/org/eclipse/tractusx/digitalproductpass/models/negotiation/Set.java
  dpp-backend/digitalproductpass/src/main/java/org/eclipse/tractusx/digitalproductpass/models/negotiation/Transfer.java
  dpp-backend/digitalproductpass/src/main/java/org/eclipse/tractusx/digitalproductpass/models/negotiation/TransferRequest.java
  dpp-backend/digitalproductpass/src/main/java/org/eclipse/tractusx/digitalproductpass/services/DataPlaneService.java
  dpp-backend/digitalproductpass/src/main/java/org/eclipse/tractusx/digitalproductpass/services/DataTransferService.java
  dpp-backend/digitalproductpass/src/main/java/utils/EdcUtil.java
  dpp-backend/digitalproductpass/src/main/java/utils/FileUtil.java
  dpp-backend/digitalproductpass/src/main/java/utils/JsonUtil.java
  dpp-backend/digitalproductpass/src/main/resources/application.yml
  dpp-backend/digitalproductpass/src/test/java/managers/DtrSearchManagerTest.java
  dpp-backend/digitalproductpass/src/test/java/managers/ProcessManagerTest.java
  dpp-backend/digitalproductpass/src/test/java/services/AasServiceTest.java
  dpp-backend/digitalproductpass/src/test/java/services/CatenaXServiceTest.java
  dpp-backend/digitalproductpass/src/test/java/services/DataTransferServiceTest.java
  entrypoint.sh
  package-lock.json
  package.json
  src/components/general/ErrorComponent.vue
  src/config/templates/metadata.json
  src/config/templates/passports.json
  src/services/BackendService.js
  src/services/service.const.js
  src/views/PassportView.vue
Labels: backend

#206 [ 20º ] - Release/v2.1.0 frontend agree: Frontend policy decline/agree functionality
  .gitignore
  DEPENDENCIES_FRONTEND
  README.md
  charts/digital-product-pass/Chart.yaml
  charts/digital-product-pass/README.md
  charts/digital-product-pass/templates/deployment-frontend.yaml
  charts/digital-product-pass/values.yaml
  dpp-backend/charts/digital-product-pass-backend/Chart.yaml
  dpp-backend/charts/digital-product-pass-backend/README.md
  dpp-backend/charts/digital-product-pass-backend/values.yaml
  dpp-backend/digitalproductpass/src/main/java/org/eclipse/tractusx/digitalproductpass/http/controllers/api/ContractController.java
  dpp-backend/scripts/README.md
  dpp-backend/scripts/get-data.sh
  dpp-backend/scripts/getPassport.py
  dpp-backend/scripts/requirements.txt
  dpp-backend/scripts/utilities/constants.py
  entrypoint.sh
  package-lock.json
  package.json
  src/assets/MOCK/IMR18650V1-depricated.json
  src/assets/MOCK/dpp.json
  src/assets/MOCK/search.json
  src/assets/styles/components/general/contractModal.scss
  src/assets/styles/main.scss
  src/components/general/StepperItem.vue
  src/components/general/TabsComponent.vue
  src/components/passport/GeneralCards.vue
  src/components/passport/TransmissionCards.vue
  src/components/passport/sections/Characteristics.vue
  src/components/passport/sections/Commercial.vue
  src/components/passport/sections/Handling.vue
  src/components/passport/sections/Identification.vue
  src/components/passport/sections/Metadata.vue
  src/components/passport/sections/Operation.vue
  src/components/passport/sections/Sustainability.vue
  src/components/passport/sections/Typology.vue
  src/config/templates/passports.json
  src/main.js
  src/services/BackendService.js
  src/services/service.const.js
  src/store/index.js
  src/translations/de.json
  src/translations/en.json
  src/utils/configUtil.js
  src/views/PassportView.vue
Labels: frontend

#207 [ 21° ] Release/v2.1.0/refactor dpp script
  .gitignore
  dpp-backend/digitalproductpass/README.md
  dpp-backend/scripts/README.md
  dpp-backend/scripts/get-data.sh
  dpp-backend/scripts/getPassport.py
  dpp-backend/scripts/logging.ini
  dpp-backend/scripts/requirements.txt
  dpp-backend/scripts/utilities/authentication.py
  dpp-backend/scripts/utilities/constants.py
  dpp-backend/scripts/utilities/httpUtils.py
  dpp-backend/scripts/utilities/operators.py
Labels: documentation, backend

#208 [ 22° ] - Release/v2.1.0/user manual: update user manual and added policy selection screenshots
  CHANGELOG.md
  README.md
  docs/RELEASE_USER.md
  docs/user manual/User Manual Product Viewer App.md
  docs/user manual/images/AfterPolicySelection.png
  docs/user manual/images/AgreePolicy.png
  docs/user manual/images/AspectNotSupported.png
  docs/user manual/images/BeforePolicySelection.png
  docs/user manual/images/DeclinePolicy.png
  docs/user manual/images/ViewPolicy.png
  dpp-backend/charts/digital-product-pass-backend/README.md
  dpp-backend/scripts/README.md
Labels: documentation

#209 [ 1° ] - Hotfix/trg-2-06-integrate-dependabot: implement dependabot workflow
  .github/dependabot.yaml
Labels: workflows

#212 [ 4º ] - Hotfix/v2.1.1: Solved vulnerabilities and frontend bugs
  CHANGELOG.md
  DEPENDENCIES_FRONTEND
  README.md
  charts/digital-product-pass/Chart.yaml
  charts/digital-product-pass/README.md
  charts/digital-product-pass/values-dev.yaml
  charts/digital-product-pass/values.yaml
  deployment/local/storage/pv-data.yaml
  deployment/local/storage/pvc-data.yaml
  docs/RELEASE_USER.md
  dpp-backend/charts/digital-product-pass-backend/Chart.yaml
  dpp-backend/charts/digital-product-pass-backend/README.md
  dpp-backend/digitalproductpass/README.md
  dpp-backend/digitalproductpass/pom.xml
  package-lock.json
  package.json
  src/components/general/TabsComponent.vue
  src/components/passport/AttributeField.vue
  src/components/passport/GeneralCards.vue
  src/components/passport/TransmissionCards.vue
  src/components/passport/sections/GeneralInformation.vue
  src/components/passport/sections/Instructions.vue
  src/components/passport/sections/ProductSpecificParameters.vue
  src/components/passport/sections/SparePartSupplier.vue
  src/components/passport/sections/StateOfHealth.vue
  src/config/templates/passports.json
  src/store/index.js
  src/translations/de.json
  src/translations/en.json
  src/views/PassportView.vue
Labels: bug, frontend

#226 chore: update code of conduct to latest version
  CODE_OF_CONDUCT.md
Labels: bug, documentation

#228 [ 1° ] - Hotfix/odrl-information: Added policy description to the policy selection popup
  src/assets/styles/components/general/contractModal.scss
  src/utils/edcUtil.js
  src/utils/jsonUtil.js
  src/views/PassportView.vue
  src/views/SearchView.vue
Labels: enhancement, frontend

#227 [ 3° ] - Hotfix/user manual readme: updated user manual md file and Help button link
  CHANGELOG.md
  README.md
  charts/digital-product-pass/Chart.yaml
  charts/digital-product-pass/README.md
  docs/RELEASE_USER.md
  docs/user manual/User Manual Product Viewer App.md
  docs/user manual/images/AgreePolicy.png
  docs/user manual/images/DeclinePolicy.png
  docs/user manual/images/NotAuthorized.png
  docs/user manual/images/ViewPolicy.png
  dpp-backend/charts/digital-product-pass-backend/Chart.yaml
  dpp-backend/charts/digital-product-pass-backend/README.md
  dpp-backend/digitalproductpass/README.md
  dpp-backend/digitalproductpass/pom.xml
  package-lock.json
  package.json
  src/components/general/Header.vue
Labels: frontend

#240 feat(library): added vue-chartjs library to frontend packege and run ip checks
  DEPENDENCIES_FRONTEND
  package-lock.json
  package.json
Labels: ip-checks, dependencies

#239 BREAKING CHANGE: update registry version: Updated the encoding scheme to base64 to the `lookup/shells?assetIds...` in dpp-backend
  .gitignore
  CHANGELOG.md
  deployment/infrastructure/registry/Chart.yaml
  dpp-backend/digitalproductpass/pom.xml
  dpp-backend/digitalproductpass/src/main/java/org/eclipse/tractusx/digitalproductpass/services/AasService.java
Labels: backend, helm-charts
