Repository eclipse-tractusx/digital-product-pass, pull requests merged in 2024-05, with the labels that each got.

#308 feat(single-api): single api functionality
  .gitignore
  CHANGELOG.md
  DEPENDENCIES_BACKEND
  charts/digital-product-pass/Chart.yaml
  charts/digital-product-pass/templates/configmap-backend.yaml
  charts/digital-product-pass/templates/deployment-backend.yaml
  charts/digital-product-pass/templates/secret-backend.yaml
  charts/digital-product-pass/values-beta.yaml
  charts/digital-product-pass/values-dev.yaml
  charts/digital-product-pass/values-int.yaml
  charts/digital-product-pass/values.yaml
  docs/arc42/Arc42.md
  dpp-backend/charts/digital-product-pass-backend/templates/_helpers.tpl
  dpp-backend/charts/digital-product-pass-backend/templates/configmap.yaml
  dpp-backend/charts/digital-product-pass-backend/templates/deployment.yaml
  dpp-backend/charts/digital-product-pass-backend/templates/pvc-data.yaml
  dpp-backend/charts/digital-product-pass-backend/templates/secret.yaml
  dpp-backend/charts/digital-product-pass-backend/templates/service.yaml
  dpp-backend/charts/digital-product-pass-backend/templates/serviceaccount.yaml
  dpp-backend/charts/digital-product-pass-backend/values-int.yaml
  dpp-backend/charts/digital-product-pass-backend/values.yaml
  dpp-backend/digitalproductpass/README.md
  dpp-backend/digitalproductpass/pom.xml
  dpp-backend/digitalproductpass/src/main/java/org/eclipse/tractusx/digitalproductpass/config/PassportConfig.java
  dpp-backend/digitalproductpass/src/main/java/org/eclipse/tractusx/digitalproductpass/config/SecurityConfig.java
  dpp-backend/digitalproductpass/src/main/java/org/eclipse/tractusx/digitalproductpass/config/SingleApiConfig.java
  dpp-backend/digitalproductpass/src/main/java/org/eclipse/tractusx/digitalproductpass/http/controllers/api/ApiController.java
  dpp-backend/digitalproductpass/src/main/java/org/eclipse/tractusx/digitalproductpass/http/controllers/api/ContractController.java
  dpp-backend/digitalproductpass/src/main/java/org/eclipse/tractusx/digitalproductpass/models/http/requests/SingleApiRequest.java
  dpp-backend/digitalproductpass/src/main/java/org/eclipse/tractusx/digitalproductpass/services/AuthenticationService.java
  dpp-backend/digitalproductpass/src/main/java/org/eclipse/tractusx/digitalproductpass/services/ContractService.java
  dpp-backend/digitalproductpass/src/main/resources/application.yml
  dpp-backend/digitalproductpass/src/test/resources/application-test.yml
Labels: enhancement, backend

#313 Release v3.0.0/update postman: updated postman collection to test the EDC v0.7.0
  deployment/local/postman/Digital-Product-Pass-collection.json
  deployment/local/testing/testdata/testdata-payload.json
Labels: documentation

#315 Create security_assessment.md
  docs/security/security_assessment.md
Labels: good first issue, security, quality-gates, action needed

#316 chore(security-assessment): Release v3.0.0/security assessment
  docs/security/security_assessment.md
Labels: documentation, security, quality-gates

#318 feat(dpp-verification): added dpp-verification initial concept documentation
  .gitattributes
  .gitignore
  README.md
  docs/media/dpp-tx-logo.png
  dpp-backend/digitalproductpass/.gitignore
  dpp-verification/README.md
  dpp-verification/resources/processes/cdc-csc-workflow.svg
  dpp-verification/resources/processes/cdc-csc-workflow.svg.license
  dpp-verification/resources/processes/cdc-workflow.svg
  dpp-verification/resources/processes/cdc-workflow.svg.license
  dpp-verification/resources/processes/csc-workflow.svg
  dpp-verification/resources/processes/csc-workflow.svg.license
  dpp-verification/resources/processes/document-credential-resume.svg
  dpp-verification/resources/processes/document-credential-resume.svg.license
  dpp-verification/resources/processes/role-process-definition.svg
  dpp-verification/resources/processes/role-process-definition.svg.license
  dpp-verification/resources/processes/roles-business-interaction.svg
  dpp-verification/resources/processes/roles-business-interaction.svg.license
  dpp-verification/resources/processes/roles-document-exchange-interaction.svg
  dpp-verification/resources/processes/roles-document-exchange-interaction.svg.license
  dpp-verification/resources/processes/verification-process-cdc.svg
  dpp-verification/resources/processes/verification-process-cdc.svg.license
  dpp-verification/resources/processes/verification-process-csc.svg
  dpp-verification/resources/processes/verification-process-csc.svg.license
  dpp-verification/resources/technical/complete-verification-CSC-CDC.svg
  dpp-verification/resources/technical/complete-verification-CSC-CDC.svg.license
  dpp-verification/resources/technical/interfaces.svg
  dpp-verification/resources/technical/interfaces.svg.license
  dpp-verification/resources/technical/simple-verification-CDC.svg
  dpp-verification/resources/technical/simple-verification-CDC.svg.license
  dpp-verification/resources/technical/simple-verification-CSC.svg
  dpp-verification/resources/technical/simple-verification-CSC.svg.license
  dpp-verification/resources/technical/technical-integration-flow-csc+cdc-data-auditor.svg
  dpp-verification/resources/technical/technical-integration-flow-csc+cdc-data-auditor.svg.license
  dpp-verification/resources/technical/technical-integration-flow-csc+cdc.svg
  dpp-verification/resources/technical/technical-integration-flow-csc+cdc.svg.license
  dpp-verification/resources/technical/technical-integration-flow-csc-data-auditor.svg
  dpp-verification/resources/technical/technical-integration-flow-csc-data-auditor.svg.license
  dpp-verification/resources/technical/technical-integration-flow-csc.svg
  dpp-verification/resources/technical/technical-integration-flow-csc.svg.license
  dpp-verification/resources/verification-logo.png
  dpp-verification/resources/verification-logo.png.license
Labels: documentation, R24.05, DPP Verification, add-on

#322 chore(release): updated release version to 3.0.0 from 3.0.0-rc1
  CHANGELOG.md
  README.md
  charts/digital-product-pass/Chart.yaml
  charts/digital-product-pass/README.md
  charts/digital-product-pass/values.yaml
  docs/RELEASE_USER.md
  dpp-backend/charts/digital-product-pass-backend/Chart.yaml
  dpp-backend/charts/digital-product-pass-backend/README.md
  dpp-backend/digitalproductpass/src/main/resources/application.yml
  dpp-frontend/package-lock.json
  dpp-frontend/package.json
  dpp-verification/README.md
Labels: enhancement
