Repository eclipse-tractusx/digital-product-pass, pull requests merged in 2024-06, with the labels that each got.

#328 Feature/irs: Make IRS compatible to the dpp-backend
  charts/digital-product-pass/templates/deployment-backend.yaml
  charts/digital-product-pass/templates/secret-backend.yaml
  charts/digital-product-pass/values-int.yaml
  charts/digital-product-pass/values.yaml
  dpp-backend/digitalproductpass/src/main/java/org/eclipse/tractusx/digitalproductpass/managers/TreeManager.java
  dpp-backend/digitalproductpass/src/main/java/org/eclipse/tractusx/digitalproductpass/models/irs/IrsShell.java
  dpp-backend/digitalproductpass/src/main/java/org/eclipse/tractusx/digitalproductpass/models/irs/JobResponse.java
  dpp-backend/digitalproductpass/src/main/java/org/eclipse/tractusx/digitalproductpass/services/IrsService.java
  dpp-backend/digitalproductpass/src/main/java/utils/HttpUtil.java
  dpp-backend/digitalproductpass/src/main/resources/application.yml
  dpp-backend/digitalproductpass/src/test/java/services/IrsServiceTest.java
  dpp-backend/digitalproductpass/src/test/resources/application-test.yml
  dpp-backend/digitalproductpass/src/test/resources/dpp/irs/TestJobResponse.json
Labels: backend, helm-charts, irs

#327 Chore/update EDC and IRS versions
  deployment/infrastructure/data-consumer/edc-consumer/Chart.yaml
  deployment/infrastructure/data-consumer/edc-consumer/values-int.yaml
  deployment/infrastructure/data-consumer/edc-consumer/values.yaml
  deployment/infrastructure/data-provider/edc-provider/Chart.yaml
  deployment/infrastructure/data-provider/edc-provider/values-int.yaml
  deployment/infrastructure/data-provider/edc-provider/values.yaml
Labels: edc-connector, helm-charts

#346 chore: added more test data to the serial part items
  dpp-tutorial/resources/test-data/serialPartItems.json
Labels: tx-community
